SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
Header set Access-Control-Allow-Origin "*" env=CORS

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /api/index.php?/$1 [L]